/* Small devices (800px and lower) */
@media (max-width: 800px) {

    .App {
        text-align: left;
    }

    .App-header {
        background-color: #222;
        height: 150px;
        padding: 20px;
        color: white;
    }

    .App-title {
        font-size: 1.5em;
    }

    .App-intro {
        font-size: large;
    }

    .image-list, .image-detail-pane {
        max-width: 600px;
    }

}

/* Medium devices (800px and up) */
@media (min-width: 800px) {
    .App {
        text-align: left;
    }

    .App-header {
        background-color: #222;
        height: 80px;
        padding: 20px;
        color: white;
        display: flex;
        justify-content: flex-start;
    }

    .App-title {
        font-size: 1.5em;
    }

    .App-intro {
        font-size: large;
    }

    .image-list, .image-detail-pane {
        max-width: 900px;
    }
}

.image-list, .image-detail-pane {
    margin: 40px auto;
    padding: 0;
    width: 80%;
    border: 2px black solid;
}

.align-header {
    margin: auto 40px auto auto;
    padding: 10px;
}

.search-container {
    margin: auto;
    padding: 10px;
}

.search-container input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.update-feed-button {
    margin: 20px auto;
    width: 20%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 8px;
    text-align: center;
}
