/* Small devices (800px and lower) */
@media (max-width: 800px) {
    .App-header {
        background-color: #222;
        height: 150px;
        padding: 20px;
        color: white;
    }

    .App-intro {
        font-size: large;
    }

    .image-list, .image-detail-pane {
        max-width: 600px;
    }

}

/* Medium devices (800px and up) */
@media (min-width: 800px) {

    .App-intro {
        font-size: large;
    }

    .image-list, .image-detail-pane {
        max-width: 900px;
    }
}

.App {
    text-align: left;
    background-color: #e6ecf0;
}

.image-list, .image-detail-pane {
    margin: 40px auto 0 auto;
    padding-bottom: 40px;
    width: 80%;
    background-color: #e6ecf0;
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.new-images-button {
    margin: auto;
    padding: 20px 0;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #f5f8fa;
    color: cornflowerblue;
    text-align: center;
    border-bottom: 2px #ddd solid;
}

.new-images-button:hover {
    border: 1px solid #ccd6dd;
    background-color: #e6ecf0;
}
