/* Small devices (800px and lower) */
@media (max-width: 800px) {

    .App {
        text-align: left;
    }

    .App-header {
        background-color: #222;
        height: 150px;
        padding: 20px;
        color: white;
    }

    .App-title {
        font-size: 1.5em;
    }

    .App-intro {
        font-size: large;
    }

    .imageList, .imageDetailPane {
        max-width: 600px;
    }

}

/* Medium devices (800px and up) */
@media (min-width: 800px) {
    .App {
        text-align: left;
    }

    .App-header {
        background-color: #222;
        height: 150px;
        padding: 20px;
        color: white;
    }

    .App-title {
        font-size: 1.5em;
    }

    .App-intro {
        font-size: large;
    }

    .imageList, .imageDetailPane {
        max-width: 900px;
    }
}

.imageList, .imageDetailPane {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0;
    width: 80%;
    border: 2px black solid;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
