/* Smartphones and such */
@media (max-width: 500px) {
    .App-header {
        height: 120px;
        flex-direction: column;
    }

    .align-header {
        margin: auto;
    }
}

/* Medium devices (501px up to 600px) */
@media (min-width: 501px) {
    .App-header {
        height: 100px;
        padding: 20px;
    }

    .align-header {
        margin: auto 40px auto auto;
        padding: 10px;
    }

    .search-container {
        margin: auto 40px auto auto;
    }

    .search-button {
        margin-right: 16px;
    }
}

/* Large devices (601px and up) */
@media (min-width: 601px) {
    .App-header {
        height: 80px;
        padding: 20px;
    }
}

.App-header {
    background-color: #222;
    color: white;
    justify-content: flex-start;
    display: flex;
}

.App-title {
    font-size: 1.5em;
}

.search-container {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.search-field {
    border: none;
    padding: 6px;
    font-size: 17px;
}

.search-button {
    background: #ddd;
    color: #222;
    float: right;
    font-size: 17px;
    cursor: pointer;
    padding: 8px 10px;
}

.search-button:hover {
    background: #ccc;
}
