.container {
    display: flex;
    justify-content: flex-start;
}

.image-item {
    background-color: #fff;
    border-width: 2px;
    border-bottom: 2px #cccccc solid;
}

.image-item:hover {
    background-color: #f5f8fa;
}

.image-summary {
    margin-left: 40px;
}
.image-meta > div {
    float: left;
    margin-right: 20px;
}

.image-preview {
    position: relative;
    width: 200px;
    height: 120px;
    border-right: 2px #646464 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222222;
    cursor: pointer;
}

.image-title {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.image-author {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img {
    max-width: 100%;
    max-height: 100%;
}
