.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.imageItem {
    border-width: 2px;
    border-bottom: 2px #646464 solid;
}

.imageSummary > div > p {
    float: left;
    margin-right: 40px;
}

.imagePreview {
    position: relative;
    width: 200px;
    height: 120px;
    overflow: hidden;
    margin-right: 40px;
    border-right: 2px #646464 solid;
}

.imageTitle {
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
