/* Smartphones and such */
@media (max-width: 500px) {

    .image-summary {
        margin-left: 10px;
    }

    .image-date {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .image-meta > div {
        margin: 10px auto auto 0;
    }
}

/* Medium devices (501px up to 600px) */
@media (min-width: 501px) {
    .image-summary {
        margin-left: 20px;
    }

    .image-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Large devices (601px and up) */
@media (min-width: 601px) {
    .image-summary {
        margin-left: 40px;
    }

    .image-meta > div {
        float: left;
        margin-right: 20px;
    }
}

.image-item {
    background-color: #fff;
    border-width: 2px;
    border-bottom: 2px #cccccc solid;
    display: flex;
    justify-content: flex-start;
}

.image-item:hover {
    background-color: #f5f8fa;
}

.image-summary {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.image-meta {
    display: flex;
    flex-direction: row;
    float: left;
}

.image-preview {
    position: relative;
    width: 200px;
    height: 120px;
    border-right: 2px #646464 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222222;
    cursor: pointer;
    flex: none;
}

.image-title {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.image-author {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img {
    max-width: 100%;
    max-height: 100%;
}
